$color_main: #007cba !default;
$color_red: #d1343c !default;

$radius: 3px !default;
$radius_large: 4px !default;

$color_gray_lighten_2: #fbfbfb !default;
$color_gray_lighten: #eceef1 !default;
$color_gray: #e6e8eb !default;
$color_gray_darken: #dadbdd !default;

$color_dark_lighten_2: #a3a5a7 !default;
$color_dark_lighten: #6b6c6e !default;
$color_dark: #515764 !default;
$color_dark_darken: #343536 !default;

$shadow: 0 5px 10px 0 rgba(0, 0, 0, .04) !default;
$shadow_small: 0 5px 10px 0 rgba(0, 0, 0, .02) !default;
