$toggle_width: 28px;
$toggle_circle_size: 13px;
$toggle_margin: 2px;

.column-lazyblocks_post_activate {
	width: 35px;
}

.lazyblocks-block-activation-switch {
	position: relative;
	display: block;
	background-color: #d9d9d9;
	border-radius: 17px;
	height: 17px;
	margin-top: 12.5px;
	width: $toggle_width;
}

.lazyblocks-block-activation-switch::before {
	background-color: #fff;
	border-radius: 50%;
	content: "";
	display: inline-block;
	height: $toggle_circle_size;
	margin: $toggle_margin;
	transition: transform 0.2s;
	width: $toggle_circle_size;
}

.lazyblocks-active-block {
	background-color: #007cba;
}

.lazyblocks-active-block.lazyblocks-block-activation-switch::before {
	transform: translateX($toggle_width - $toggle_circle_size - $toggle_margin * 2);
}

.lazyblocks-active-block.lazyblocks-block-activation-switch:hover::before {
	transform: translateX($toggle_width - $toggle_circle_size - $toggle_margin * 2 - 1px);
}

.lazyblocks-block-activation-switch:hover::before {
	transform: translateX(1px);
}
