.lazyblocks-block-activation-switch {
	position: relative;
	display: block;
	background-color: #ccc;
	border-radius: 34px;
	height: 17px;
	margin-top: 5px;
	width: 30px;
}

.lazyblocks-block-activation-switch::before {
	background-color: #fff;
	border-radius: 50%;
	content: "";
	display: inline-block;
	height: 13px;
	margin: 2px;
	transition: all 0.4s;
	width: 13px;
}

.lazyblocks-active-block {
	background-color: #2196f3;
}

.lazyblocks-active-block.lazyblocks-block-activation-switch::before {
	transform: translateX(100%);
}

.lazyblocks-active-block.lazyblocks-block-activation-switch:hover::before {
	transform: translateX(60%);
}

.lazyblocks-block-activation-switch:hover::before {
	transform: translateX(40%);
}
