.lzb-templates-buttons {
    display: flex;
    flex-wrap: wrap;

    button.button {
        margin-right: 7px;
    }
}

.lzb-templates-label {
    padding: 8px 0;
}
.lzb-templates-list {
    width: 100%;
    margin-right: 300px;

    @media screen and (max-width: 500px) {
        margin-right: 0;
    }
}
.lzb-templates-single {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    min-width: 255px;
    max-width: 700px;
    padding: 15px;
    margin-top: 25px;
    background: #fff;
    border: 1px solid #e5e5e5;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .04);

    > * {
        width: 100%;
    }

    // Header
    .lzb-templates-single-header {
        padding: 10px 15px;
        margin: -15px;
        margin-bottom: 15px;
        background-color: #f9f9f9;
        border-bottom: 1px solid #e5e5e5;

        h2 {
            padding: 0;
            margin: 0;
            font-size: 14px;

            #poststuff & {
                padding: 0;
            }
        }
    }

    // Footer
    .lzb-templates-single-footer {
        padding: 10px 15px;
        margin: -15px;
        margin-top: 15px;
        background-color: #f9f9f9;
        border-top: 1px solid #e5e5e5;
    }

    // Controls
    .components-base-control {
        position: relative;

        .components-base-control__label {
            display: block;
            margin-bottom: 10px;
            font-weight: 600;
        }

        + .components-base-control {
            margin-top: 20px;

            &::before {
                content: "";
                display: block;
                margin-right: -15px;
                margin-bottom: 15px;
                margin-left: -15px;
                border-bottom: 1px solid #e5e5e5;
            }
        }
    }

    // blocks list.
    .lzb-templates-single-blocks {
        margin-bottom: 20px;

        .lzb-templates-single-blocks-block-icon svg {
            width: 24px;

            &:not(.dashicon) {
                height: auto;
            }
        }

        .lzb-templates-single-blocks-undefined {
            background-color: #fff3f3;

            &:hover {
                background-color: #fdeded;
            }

            .lzb-templates-single-blocks-block-icon svg {
                color: #ec2727;
                fill: currentColor;
            }
        }
    }

    // actions.
    .lzb-templates-single-actions {
        left: 0;
        margin: 0;

        > * {
            vertical-align: middle;
        }

        .trash {
            margin-left: 10px;
            opacity: 0;

            a {
                text-decoration: none;
            }
        }
    }
    &:hover .lzb-templates-single-actions .trash {
        opacity: 1;
    }

    // react-select
    .lzb-metabox-select-option-icon {
        display: inline-flex;
        margin-right: 10px;
        vertical-align: top;

        svg {
            width: 20px;
            height: 20px;
        }
    }
}
