/**
 * Better appender styles.
 */
.lazyblock:not(.is-selected) .lazyblock-inner-blocks > .block-list-appender:only-child {
	pointer-events: none;

	&::after {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		pointer-events: none;
		content: "";
		border: 1px dashed;
		border-radius: 2px;
	}

	.block-editor-inserter {
		visibility: hidden;
	}
}
