@import "../../variables";

.lazyblocks-component-base-control {
  .lazyblocks-component-base-control__help {
    margin-top: calc(8px);
    margin-bottom: revert;
    font-size: 12px;
    font-style: normal;
    color: rgb(117, 117, 117);
  }

  .components-base-control:has(+ .lazyblocks-component-base-control__help) {
    margin-bottom: 0;
  }
}
