@import "../../variables";

.lazyblocks-component-copied {
  position: absolute;
  bottom: 100%;
  left: 0;
  padding: 4px 6px;
  margin-left: 50%;
  color: #fff;
  background: #000;
  border-radius: 3px;
  opacity: 0;
  transform: translateY(5px) translateX(-50%);
  animation: 0.3s lazyblocks-component-copied linear;
}

@keyframes lazyblocks-component-copied {
  0% {
    opacity: 0;
    transition-timing-function: ease-out;
    transform: translateY(5px) translateX(-50%);
  }

  50% {
    opacity: 1;
    transform: translateY(-5px) translateX(-50%);
  }

  100% {
    opacity: 0;
    transition-timing-function: ease-in;
    transform: translateY(-15px) translateX(-50%);
  }
}
