$color_main: #3473d1 !default;
$color_red: #d1343c !default;

$radius: 3px !default;
$radius_large: 4px !default;

$color_gray_lighten_2: #fbfbfb !default;
$color_gray_lighten: #f3f5f7 !default;
$color_gray: #e2e4e7 !default;
$color_gray_darken: #d3d5d8 !default;

$color_dark_lighten: #6b6c6e !default;
$color_dark: #4d4e50 !default;
$color_dark_darken: #343536 !default;

$shadow: 0 5px 10px 0 rgba(0, 0, 0, .04) !default;
