@import "../../../variables";


.lzb-constructor-controls-item-settings {
    .lzb-constructor-controls-item-settings-row {
        display: flex;
        flex-wrap: wrap;

        + .lzb-constructor-controls-item-settings-row {
            margin-top: 15px;
        }

        .lzb-constructor-controls-item-settings-row-label {
            flex: 1;

            span {
                display: block;
                padding-right: 15px;
                font-weight: 600;
            }
            small {
                display: block;
                padding-right: 15px;
                margin-top: 5px;
                color: $color_dark_lighten;
            }
        }

        .lzb-constructor-controls-item-settings-row-control {
            flex: 3;
        }
    }
}

// type settings
.lzb-constructor-type-toggle-dropdown {
    display: block;
}
.lzb-constructor-type-toggle {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 3px 5px;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid $color_dark_lighten_2;
    border-radius: 3px;
    transition: .15s border-color ease-in-out;

    &:hover {
        border-color: $color_dark_lighten;
    }

    // icon
    span svg {
        display: block;
        margin-right: 5px;
        opacity: .7;
    }

    // arrow
    > svg {
        margin-left: auto;
        opacity: .2;
        transition: .15s opacity ease-in-out;
    }
    &:hover > svg {
        opacity: .4;
    }
}
.lzb-constructor-type-dropdown {
    margin: -24px;

    > .components-base-control {
        padding: 15px;
        padding-bottom: 10px;
    }

    .components-panel__body > button {
        display: flex;
        align-items: center;
        width: 100%;
        padding: 10px 15px;
        text-align: left;
        cursor: pointer;
        background: $color_gray_lighten;
        border: none;
        border-radius: 3px;
        transition: .15s background-color ease-in-out, .15s box-shadow ease-in-out;

        &.is-active {
            box-shadow: 0 0 0 2px $blue-500;
        }

        &:hover {
            background-color: $color_gray;
        }

        + button {
            margin-top: 15px;
        }

        svg {
            display: block;
            margin-right: 10px;
        }
    }
}

// choices setting
.lzb-constructor-controls-item-settings-choices {
    .lzb-constructor-controls-item-settings-choices-item {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        margin-right: -5px;
        margin-left: -5px;

        > div {
            flex: 1;
            margin-right: 5px;
            margin-bottom: 0;
            margin-left: 5px;
        }

        > .components-base-control {
            min-width: 150px;
            margin-bottom: 0;
        }
    }

    .lzb-constructor-controls-item-settings-choices-item-handler {
        width: 25px;
        min-width: 25px;
        max-width: 25px;
        padding-top: 7px;
        text-align: right;
        cursor: grab;
        opacity: .2;
        transition: .2s opacity ease-in-out;

        &:hover {
            opacity: .4;
        }
    }

    .lzb-constructor-controls-item-settings-choices-item-remove {
        position: absolute;
        top: 10px;
        left: -2px;
        width: 15px;
        height: 15px;
        padding: 0;
        color: #fff;
        cursor: pointer;
        background: $alert-red;
        border: none;
        border-radius: 50%;
        opacity: 0;
        transition: .2s opacity ease-in-out;

        .dashicons {
            width: 13px;
            height: 13px;
            margin-top: 1px;
            font-size: 13px;
            text-align: center;
        }
    }
    .lzb-constructor-controls-item-settings-choices-item:hover .lzb-constructor-controls-item-settings-choices-item-remove {
        opacity: 1;
    }
}
