@import "../../variables";

.lazyblocks-component-pro-notice {
  &,
  > .components-base-control__field {
    margin-bottom: 0 !important;
  }

  .lazyblocks-component-pro-notice-btn {
    display: block;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 12px;
    font-size: 11px;
    font-weight: 500;
    line-height: 1.4;
    color: #fff;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    background: linear-gradient(130deg, #fa903d 0%, #d72774 100%);
    border-radius: 4px;
    transition: 0.2s transform, 0.2s box-shadow;

    &:hover,
    &:focus {
      box-shadow: 0 1px 3px rgba(#d72774, 30%);
      transform: translateY(-1px);
    }
  }

  ul {
    margin-left: 1.3em;
  }
}
