@import "../../../variables";

.lzb-constructor .lzb-constructor-title {
    // block title.
    max-width: none;
    padding: 30px 0;
    margin: -10px;
    margin-bottom: 80px;
    overflow: hidden;
    background: #fff;
    box-shadow: rgba(0, 0, 0, .1) 0 1px 3px 0, rgba(0, 0, 0, .06) 0 1px 2px 0;

    textarea {
        width: 100%;
        // stylelint-disable-next-line
        font-size: 40px !important;
        font-weight: 600;
        text-align: center;
        border: none;
        outline: none;
        box-shadow: none;

        &::placeholder {
            color: #ccc;
        }
    }
}
