@import "../../variables";


.lzb-constructor-controls-item-settings {
    position: relative;
    padding-top: 15px;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        right: -20px;
        left: -20px;
        border-bottom: 1px solid rgba(0, 0, 0, .07);
    }

    .lzb-constructor-controls-item-settings-row {
        display: flex;
        flex-wrap: wrpa;

        + .lzb-constructor-controls-item-settings-row {
            margin-top: 15px;
        }

        .lzb-constructor-controls-item-settings-row-label {
            flex: 1;

            span {
                display: block;
                padding-right: 15px;
                font-weight: 600;
            }
            small {
                display: block;
                padding-right: 15px;
                margin-top: 5px;
                color: $color_dark_lighten;
            }
        }

        .lzb-constructor-controls-item-settings-row-control {
            flex: 3;
        }
    }
}

// choices setting
.lzb-constructor-controls-item-settings-choices {
    .lzb-constructor-controls-item-settings-choices-item {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        margin-right: -5px;
        margin-left: -5px;

        > div {
            flex: 1;
            margin-right: 5px;
            margin-bottom: 0;
            margin-left: 5px;
        }

        > .components-base-control {
            min-width: 150px;
        }
    }

    .lzb-constructor-controls-item-settings-choices-item-handler {
        width: 25px;
        min-width: 25px;
        max-width: 25px;
        padding-top: 7px;
        text-align: right;
        cursor: grab;
        opacity: .2;
        transition: .2s opacity ease-in-out;

        &:hover {
            opacity: .4;
        }
    }

    .lzb-constructor-controls-item-settings-choices-item-remove {
        position: absolute;
        top: 10px;
        left: -2px;
        width: 15px;
        height: 15px;
        padding: 0;
        color: #fff;
        cursor: pointer;
        background: $color_red;
        border: none;
        border-radius: 50%;
        opacity: 0;
        transition: .2s opacity ease-in-out;

        .dashicons {
            width: 13px;
            height: 13px;
            margin-top: 1px;
            font-size: 13px;
            text-align: center;
        }
    }
    .lzb-constructor-controls-item-settings-choices-item:hover .lzb-constructor-controls-item-settings-choices-item-remove {
        opacity: 1;
    }
}
