@import "../../../variables";

.lzb-constructor .lzb-constructor-custom-code-settings {
    margin-bottom: -15px;

    p.description {
        margin-top: 0;
        margin-bottom: 10px;
        font-family: inherit;
        font-size: 1em;
    }

    .lazyblocks-control-tabs {
        margin-top: -15px;
    }
}
