@import "../../../variables";

.lzb-constructor-controls {
    margin-top: -10px;
    margin-bottom: 5px;
}

.lzb-constructor-controls-item,
.lzb-constructor-controls-item-appender {
    position: relative;
    padding: 20px 25px;
    color: $color_dark;
    cursor: pointer;
    border-radius: $radius_large;
    transition: .15s background-color ease-in-out, .15s color ease-in-out, .15s border-color ease-in-out, .15s box-shadow ease-in-out;
    z-index: 1;
}

.lzb-constructor-controls-item-wrap-selected > .lzb-constructor-controls-item {
    border-color: $color_main;
    box-shadow: 0 0 0 1px $color_main;
}

.lzb-constructor-controls-item-wrap,
.lzb-constructor-controls-item-appender {
    margin-top: 15px;
}

// appender
.lzb-constructor-controls-item-appender {
    display: block;
    width: 100%;
    padding: 18px 25px;
    color: $color_dark_lighten;
    background: $color_gray_lighten_2;
    border: 1px dashed $color_gray_darken;
    outline: none;
    box-shadow: none;

    &:hover {
        color: $color_dark_darken;
        background: #fff;
        border-color: $color_dark_lighten_2;
    }

    svg {
        display: block;
        margin: 0 auto;
    }
}

// head
.lzb-constructor-controls-item {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding-left: 60px;
    background-color: #fff;
    border: 1px solid #fff;

    &:hover {
        box-shadow: 0 0 0 1px $color_gray_darken;
    }
    .lzb-constructor-controls-item-dragging > & {
        box-shadow: 0 0 0 1px $color_gray_darken, 0 5px 15px 0 rgba($color_gray_darken, .2);
    }

    > div {
        flex: 1;
    }

    // icon
    .lzb-constructor-controls-item-icon {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 65px;
        color: $color_dark_lighten;
        cursor: grab;

        > span {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            top: 0;
            width: 100%;
            height: 100%;
            transition: .15s opacity ease-in-out, .15s transform ease-in-out;

            + span {
                opacity: 0;
                transform: scale(.5);
            }
        }

        .lzb-constructor-controls-item-dragging > .lzb-constructor-controls-item > &,
        &:hover {
            > span {
                opacity: 0;
                transform: scale(.5);

                + span {
                    opacity: 1;
                    transform: translateY(0);
                }
            }
        }
    }

    // drag icon
    .lzb-constructor-controls-item-handler {
        z-index: 1;
    }

    .lzb-constructor-controls-item-label-text {
        display: block;
        font-weight: 600;
        transition: .15s transform ease-in-out;

        .lzb-constructor-controls-item-label-no {
            opacity: .3;
        }

        .required {
            margin-left: 5px;
        }
    }

    .lzb-constructor-controls-item-label-buttons {
        position: absolute;
        display: block;
        bottom: 20px;
        opacity: 0;
        transition: .15s opacity ease-in-out, .15s transform ease-in-out;

        button {
            padding: 0;
            margin-right: 5px;
            font-size: .8em;
            color: inherit;
            cursor: pointer;
            background: none;
            border: none;
            opacity: .5;
            transition: .15s opacity ease-in-out;

            &:hover {
                opacity: 1;
            }
        }
        .lzb-constructor-controls-item-label-buttons-remove {
            color: $color_red;
        }
    }

    small {
        font-size: 80%;
        color: $color_dark_lighten;
    }
}
.lzb-constructor-controls-item-wrap:hover,
.lzb-constructor-controls-item-wrap:focus,
.lzb-constructor-controls-item-wrap-selected {
    > .lzb-constructor-controls-item > .lzb-constructor-controls-item-label {
        .lzb-constructor-controls-item-label-text {
            transform: translateY(-7px);
        }
        .lzb-constructor-controls-item-label-buttons {
            opacity: 1;
            transform: translateY(10px);
        }
    }
}

.lzb-constructor-controls-item-name {
    position: relative;
    display: flex;
    align-items: center;
    align-self: flex-start;
    padding: 5px 10px;
    font-size: 80%;
    color: $color_dark_lighten;
    cursor: pointer;
    background-color: $color_gray;
    border: none;
    border-radius: 2px;
    outline: 0;
    transition: .15s color ease-in-out, .15s background-color ease-in-out;

    &:hover {
        color: $color_dark;
        background-color: $color_gray_darken;
    }

    svg {
        width: 1em;
        height: 1em;
        margin-right: .4em;
    }
}

// repeater child items.
.lzb-constructor-controls-item-childs {
    padding-left: 20px;
}

// repeater toggle child button.
.lzb-constructor-controls-item-repeater-toggle {
    position: relative;
    display: block;
    width: 100%;
    padding: 9px;
    padding-left: 20px;
    margin-top: 3px;
    margin-bottom: -11px;
    font-size: 80%;
    color: $color_dark_lighten;
    text-align: left;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    transition: .15s color;

    &:hover {
        color: $color_dark_darken;
    }

    > svg {
        height: .7em;
        margin-left: .5em;
        vertical-align: -.05em;
    }

    &.lzb-constructor-controls-item-repeater-toggle-collapsed > svg {
        transform: rotate(-90deg);
    }
}
