.lzb-metabox {
    padding-bottom: 19px;

    .description {
        margin-bottom: 10px;
    }

    .disabled {
        pointer-events: none;
        opacity: .5;
    }

    > label {
        display: block;
        margin-top: 0;
        margin-bottom: .5em;
        vertical-align: baseline;
    }
    textarea.lzb-textarea,
    select.lzb-select,
    input.lzb-input {
        width: 100%;
        max-width: 100%;
        padding: 6px 8px;
        margin: 0;
        line-height: 18px;
        color: #32373c;
        border: 1px solid #e2e4e7;
        outline: none;
        outline-offset: -1px;
        box-shadow: 0 0 0 transparent;
        transition: box-shadow .05s linear;

        &:focus {
            color: #191e23;
            outline: 1px solid #008dbe;
            box-shadow: 0 0 0 2px #bfe7f3;
        }

        &[type="checkbox"],
        &[type="radio"] {
            width: auto;
        }

        &[disabled] {
            background: rgba(0, 0, 0, .05);
            opacity: .6;
        }
    }
    select.lzb-select {
        height: 32px;
        line-height: 32px;
    }

    // input group.
    .lzb-metabox-input-group {
        display: flex;
        flex-wrap: wrap;

        > input {
            flex: 1;
            width: auto;
            max-width: 100px;
            height: 28px;
            margin-top: -1px;
            margin-left: -1px;
        }
    }
}


// Gutenberg editor.
.lazyblock {
    display: block;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 0 1px #e6e6e6;

    .lzb-content-title {
        display: flex;
        align-items: center;
        padding: 20px;
        padding-top: 0;
        padding-bottom: 15px;
        margin-top: -5px;
        margin-right: -20px;
        margin-bottom: 20px;
        margin-left: -20px;
        font-size: .8em;
        border-bottom: 1px solid #e6e6e6;

        svg {
            display: block;
        }

        > span {
            height: auto;
            font-size: 1.2em;
            opacity: .8;

            + h6 {
                margin-left: 10px;
            }
        }

        h6 {
            margin: 0;
            font-size: 13px;
            font-weight: 600;
        }
    }

    .lzb-content-title .lzb-content-edit-link {
        margin-left: auto;
        color: inherit;
        opacity: 0;
        transition: .15s opacity ease-in-out;

        svg {
            width: 20px;
            height: 20px;
        }
    }
    &:hover .lzb-content-title .lzb-content-edit-link {
        opacity: .2;

        &:hover {
            opacity: .4;
        }
    }

    // Columns
    .lzb-content-controls {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: -15px;
        margin-left: -15px;

        > div > div {
            margin-bottom: 15px;
            margin-left: 15px;
        }
    }

    .components-base-control__help {
        margin-bottom: 8px;
        font-size: 1em;
        opacity: .6;
    }

    .components-base-control__label .required {
        margin-left: 5px;
    }

    .lzb-preview-server {
        margin-top: 15px;

        .components-spinner {
            position: absolute;
            top: 16px;
            right: 10px;
        }
    }
}

// Color Picker control
.lzb-gutenberg-color {
    .components-base-control__label {
        display: flex;
        align-items: center;
    }
}

// URL picker
.lzb-gutenberg-url {
    position: relative;

    .editor-url-input input[type="text"] {
        &,
        .editor-block-list__block & {
            width: 100%;
            padding: 6px 9px;
            padding-left: 30px;
            border: 1px solid #8d96a0;
            border-radius: 4px;
            box-shadow: 0 0 0 transparent;
            transition: box-shadow .1s linear;

            &:focus {
                color: #191e23;
                border-color: #00a0d2;
                outline: 2px solid transparent;
                outline-offset: -2px;
                box-shadow: 0 0 0 1px #00a0d2;
            }
        }
    }

    > svg,
    > button {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
    }
    > svg {
        left: 7px;
    }
    > button {
        right: 0;
        left: auto;
        padding: 5px;
    }
}

// Gallery and Image controls
.lzb-gutenberg-gallery-wrap,
.lzb-gutenberg-image-wrap {
    position: relative;
}
.lzb-gutenberg-gallery,
.lzb-gutenberg-image {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    // stylelint-disable-next-line
    margin: 0 -5px !important;
    list-style-type: none;
    cursor: pointer;
    align-content: flex-start;

    // fix flex items shrink.
    &::after {
        content: "";
        display: block;
        width: 100%;
    }

    // edit button.
    .lzb-gutenberg-gallery-button,
    .lzb-gutenberg-image-button {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: .15s opacity;
        z-index: 1;
    }
    &:hover .lzb-gutenberg-gallery-button,
    &:hover .lzb-gutenberg-image-button {
        opacity: 1;
    }

    .lzb-gutenberg-gallery-item {
        position: relative;
        display: block;
        width: calc(12.5% - 10px);
        margin: 5px;
        border-radius: 3px;
        transition: .15s opacity;

        &::after {
            content: "";
            display: block;
            padding-top: 100%;
        }

        // width
        @media (max-width: 1000px) {
            width: calc(14.22% - 10px);
        }
        @media (max-width: 900px) {
            width: calc(16.66% - 10px);
        }
        @media (max-width: 800px) {
            width: calc(25% - 10px);
        }

        .lzb-inspector-controls & {
            width: calc(25% - 10px);
        }
    }
    .lzb-gutenberg-gallery-item img {
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        // stylelint-disable-next-line
        font-family: "object-fit: cover; object-position: 50% 50%;";
        border-radius: 3px;
        object-fit: cover;
        object-position: 50% 50%;
    }
    .lzb-gutenberg-image-item {
        display: block;
        width: 30%;
        margin: 0 auto;
        border-radius: 3px;
        transition: .15s opacity;

        img {
            width: 100%;
            height: auto;
            border-radius: 3px;
        }
    }
    &:hover .lzb-gutenberg-gallery-item,
    &:hover .lzb-gutenberg-image-item {
        opacity: .6;
    }
}

// File control
.lzb-gutenberg-file-wrap {
    .lzb-gutenberg-file-item {
        display: flex;
        margin-bottom: 10px;
        border: 1px solid #e2e4e7;
    }
    .lzb-gutenberg-file-item-icon {
        display: flex;
        align-items: center;
        padding: 10px 15px;
        border-right: 1px solid #e2e4e7;
    }
    .lzb-gutenberg-file-item-content {
        display: flex;
        flex-direction: column;
        padding: 10px;
    }
    .lzb-gutenberg-file-item-content-title {
        font-weight: 600;
    }
    .lzb-gutenberg-file-item-content-filename {
        opacity: .5;
    }
}

// Rich Text control
.lzb-gutenberg-rich-text {
    .editor-rich-text__inline-toolbar {
        position: relative;
        justify-content: flex-start;
        top: 0;

        .editor-format-toolbar,
        .editor-format-toolbar > .components-toolbar {
            width: 100%;
        }
        .editor-format-toolbar > .components-toolbar {
            border-bottom: 0;
        }
    }
    .editor-rich-text__editable,
    .editor-rich-text__tinymce {
        padding: 10px 15px;
        background-color: #fff;
        border: 1px solid #e2e4e7;

        p:last-of-type {
            margin-bottom: 0;
        }
    }
}

// repeater
.lzb-gutenberg-repeater-item {
    position: relative;
    background-color: #fff;
    border: 1px solid #7e8993;
    border-radius: 3px;

    + .lzb-gutenberg-repeater-item {
        margin-top: 5px;
    }

    > div {
        margin-right: 15px;
        margin-left: 15px;
    }

    .lzb-gutenberg-repeater-btn {
        position: relative;
        width: 100%;
        padding: 10px 15px;
        margin-bottom: -1px;
        text-align: left;
        cursor: pointer;
        background: none;
        border: none;
        border-bottom: 1px solid #7e8993;

        > .lzb-gutenberg-repeater-btn-arrow {
            position: absolute;
            display: block;
            top: 50%;
            right: 10px;
            height: .8em;
            font-size: .8em;
            line-height: .8em;
            transition: .2s transform;
            transform: translateY(-50%);
        }
        &.lzb-gutenberg-repeater-btn-active > .lzb-gutenberg-repeater-btn-arrow {
            transform: translateY(-50%) rotate(90deg);
        }
    }

    .lzb-gutenberg-repeater-btn-remove {
        position: absolute;
        display: block;
        top: -7px;
        right: -7px;
        width: 17px;
        height: 17px;
        padding: 0;
        font-size: .8em;
        line-height: .8em;
        color: #fff;
        cursor: pointer;
        background-color: #ea2c22;
        border: none;
        border-radius: 50%;
        opacity: 0;
        transition: .2s opacity;
        transform: none;

        > .dashicons {
            width: 17px;
            height: 17px;
            font-size: 1em;
            line-height: 17px;
        }
    }
    &:hover .lzb-gutenberg-repeater-btn-remove {
        opacity: 1;
    }

    .lzb-gutenberg-repeater-btn-drag {
        position: absolute;
        display: flex;
        top: 50%;
        right: 35px;
        margin: 0;
        cursor: move;
        opacity: 0;
        transition: .2s opacity;
        transform: translateY(-50%);
        will-change: opacity;
    }
    &:hover .lzb-gutenberg-repeater-btn-drag {
        opacity: .1;
    }
    .lzb-gutenberg-repeater-btn-drag:hover {
        opacity: .5;
    }

    // Repeater item content with columns support
    .lzb-gutenberg-repeater-item-content {
        display: flex;
        flex-wrap: wrap;
        padding: 15px;
        margin-right: 0;
        margin-bottom: -15px;
        margin-left: -15px;

        > div > div {
            margin-bottom: 15px;
            margin-left: 15px;
        }
    }
}
.lzb-gutenberg-repeater-items {
    margin-bottom: 15px;
}
.lzb-gutenberg-repeater-options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .components-toggle-control .components-form-toggle {
        margin-right: 0;
    }
}
.lzb-inspector-controls {
    .lzb-gutenberg-repeater {
        padding-right: 0;
        padding-left: 0;
    }
    .lzb-gutenberg-repeater-item {
        padding-top: 0;
        margin-right: 0;
        margin-left: 0;
    }
    .lzb-gutenberg-repeater-item-content > .components-panel__body:first-child {
        margin-top: -15px;
    }
}


/**
 * Admin pages.
 */
.post-type-lazyblocks {
    .column-lazyblocks_post_icon {
        width: 30px;
        text-align: center;
    }

    .lzb-admin-block-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 35px;
        height: 35px;
        font-size: 16px;
        color: #4f5052;
        background: #e8e8e8;
        border-radius: 4px;

        .dashicons {
            width: auto;
            height: 1em;
            font-size: 1em;
        }
    }
}
