@import "../../variables";

.lzb-constructor .lzb-constructor-custom-code-settings {
    .components-tab-panel__tab-content {
        padding: 0;

        .lazyblocks-component-code-editor {
            border: none;
        }
    }

    p.description {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    hr {
        margin: 10px -20px;
        background-color: $color_gray_lighten;
    }
}

.lzb-constructor-custom-code-settings-popover {
    .components-popover__content {
        width: 500px;
        padding: 20px;
    }
}
