@import "../../variables";

.post-type-lazyblocks {
	// fixed overflow and dropdowns in editor sidebar.
	.edit-post-sidebar > .components-panel {
		min-height: 100%;
	}

	.lazyblocks-component-document-tabs .components-panel__header.edit-post-sidebar-header {
		display: flex;
		margin-bottom: -1px;
		background-color: #fff;
		padding: 0;
		z-index: 2;

		> ul {
			display: flex;

			li {
				margin-bottom: 0;
			}

			button {
				position: relative;
				padding: 12px 16px;
				height: 48px;
				font-weight: 500;
				outline: none;
				box-shadow: none;

				&.is-active::after {
					height: calc(1 * var(--wp-admin-border-width-focus));
					outline: transparent solid 2px;
					outline-offset: -1px;
					content: "";
					position: absolute;
					right: 0;
					bottom: 0;
					left: 0;
					pointer-events: none;
					background: var(--wp-components-color-accent, var(--wp-admin-theme-color, #3858e9));
					border-radius: 0;
					transition: all 0.1s linear 0s;
				}
			}
		}
	}
}

.lazyblocks-component-document-tabs .lazyblocks-component-document-tabs-content {
	.components-base-control__label {
		display: inline-block;
		margin-bottom: 8px;
	}

	.components-panel__body:first-child {
		margin-top: 0;
	}
}
