@import "../../variables";

.lazyblocks-component-box {
  padding: 25px;
  background-color: #fff;
  border-radius: $radius_box;
  box-shadow: rgba(#000, 0.1) 0 1px 3px 0, rgba(#000, 0.06) 0 1px 2px 0;
}

.lazyblocks-component-box-no-paddings {
  padding: 0;
}
