@import "../../../variables";

.lzb-block-builder .lzb-block-builder-title {
	// block title.
	max-width: 800px;
	padding: 20px 0;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
	overflow: hidden;

	textarea {
		display: block;
		width: 100%;
		font: inherit;
		font-size: 18px !important;
		font-weight: 500;
		border: none;
		outline: none;
		box-shadow: none;
		resize: none;

		&::placeholder {
			color: #ccc;
		}
	}
}
